/*清0*/
*
{margin:0px;padding:0px;}
 body
{
background-color:#D3D3D3;
}
/*导航栏*/
.nav{

border:1px solid #000;
height:50px;
background-color:#000;     
	 }
.nav img{
		 float:left;
		 height:50px;
	
		 
		 }

.nav ul{
        font-size:16px;
		padding:15px 10px 5px 850px;
       }
.nav li{float:left;}
 .nav a{display:block;width:100px;
 text-decoration:none;
 color:#FFF;
      }
 /*正文*/
.main,.second,.third,.fourth,.fifth{border:1px solid #000;
                     margin:15px;
	                }
 p{text-indent:2em;
        padding:10px;
  }
.main a{text-indent:none;s}
h1,h2,h3,h4,p,.second ul,.third,.fourth,.fifth{background-color:#fff;}
.second a{text-decoration:none;}
.second ul{list-style-type:none;
          padding:10px;
		  }
.photo{border:1px solid #bebebe;
       margin:5px;
	   padding:3px;
	   width:350px;
	   height:auto;
	   text-align:center;

	  }
table{border-collapse:collapse;
       width:80%;
	  margin:20px auto;
	 }
th{height:30px;
   background-color:#bebebe;
  }
td{height:20px;
  background-color:yellow;
  text-align:center;
  }

ol{padding:30px;}
form{text-align:center;
     line-height:2em;
	}
.fifth .submit{padding:10 10 80 80;
	   }